body {
    font-family: 'Arimo', sans-serif;
    background-color: #3A4965;
    color: #484848;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;    
}

table {
    margin: 50px auto;
    background-color: white;
    width: 1170px;
}

table, td, th {    
    border-collapse:collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #E8E8E8;
}

.header-topic {
    position: relative;
    top: 27px;
    font-size: 30px;
    color: #484848;
}

.header-topic span {
    font-size: 18px;
}

.column2-header {
    width: 278px;
    border: none;
    background-color: #89C331;
}

.column3-header {
    width: 283px;
    border: none;
    background-color: #F04A56;
}

.column4-header {
    width: 277px;
    border: none;
    background-color: #20807C;
}

.topic {    
    padding: 21px 0px;
}

.row2 {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cents {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.month-text {
    font-size: 18px;
}

.column1-row3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 23px auto;
    gap: 5px;
}

.column1-row3::before {
    content: url("image/box.png");
}

.column1-row4 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 23px auto;
    gap: 5px;
}

.column1-row4::before {
    content: url("image/cloud.png");
}

.column1-row5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 23px auto;
    gap: 5px;
}

.column1-row5::before {
    content: url("image/mail.png");
}

.column1-row6 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 23px auto;
    gap: 5px;
}

.column1-row6::before {
    content: url("image/support.png");
}

.column1-row7 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 23px auto;
    gap: 5px;
}

.column1-row7::before {
    content: url("image/products.png");
}

.column1-row8 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 23px auto;
    gap: 5px;
}

.column1-row8::before {
    content: url("image/users.png");
}

.table-footer {
    padding: 30px 0px 6px 0px;
}

td button {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    width: 192px;
    height: 52px;
    border-radius: 5px;
    border: none;
}

.contact-us-btn {
    background-color: #484848;
    z-index: 1;
}

.btn1-layout1 {
    z-index: 2;
    position: relative;
    width: 192px;
    height: 9px;
    top: -9px;
    background-color: #404040;
    border-radius: 0px 0px 5px 5px;
}

.shadow-btn {
    position: relative;
    width: 192px;
    height: 10px;
    top: -18px;
    background-color: #C4C4C4;
    border-radius: 0px 0px 5px 5px;
    z-index: 0;
}

.buy1-btn {
    background-color: #89C331;
    z-index: 1;
}

.buy1-layout1 {
    z-index: 2;
    position: relative;
    width: 192px;
    height: 9px;
    top: -9px;
    background-color: #79B027;
    border-radius: 0px 0px 5px 5px;
}

.buy2-btn {
    background-color: #F04A56;
    z-index: 1;
}

.buy2-layout1 {
    z-index: 2;
    position: relative;
    width: 192px;
    height: 9px;
    top: -9px;
    background-color: #DF3A46;
    border-radius: 0px 0px 5px 5px;
}

.buy3-btn {
    background-color: #20807C;
    z-index: 1;
}

.buy3-layout1 {
    z-index: 2;
    position: relative;
    width: 192px;
    height: 9px;
    top: -9px;
    background-color: #16736F;
    border-radius: 0px 0px 5px 5px;
}